Source/SteamClientMod/Libraries/Assembly-CSharp.dll
Source/SteamClientMod/Libraries/Assembly-CSharp-firstpass.dll
Source/SteamClientMod/Libraries/GameLogic.dll
Source/SteamClientMod/Libraries/GameSparksSrc.dll
Source/SteamClientMod/Libraries/Newtonsoft.Json.dll
Source/SteamClientMod/Libraries/UnityEngine.CoreModule.dll
Source/SteamClientMod/Libraries/UnityEngine.dll
Source/SteamClientMod/Libraries/UnityEngine.UnityWebRequestModule.dll
Source/SteamClientMod/SteamClientMod/bin
Source/SteamClientMod/SteamClientMod/obj
